<h1>Event Booking App</h1>

<div *ngIf="authService.isLoggedIn(); else notLoggedIn">

  <h2>Yangi Tadbir Qo‘shish</h2>
  <form (ngSubmit)="onCreateEvent()">
    <label for="name">Tadbir Nomi</label>
    <input id="name" [(ngModel)]="newEvent.name" name="name" placeholder="Yozish..." required />

    <label for="date">Sana va Vaqt</label>
    <input id="date" [(ngModel)]="newEvent.date" name="date" type="datetime-local" placeholder="Yozish..." required />

    <label for="location">Joylashuv</label>
    <input id="location" [(ngModel)]="newEvent.location" name="location" placeholder="Yozish..." required />

    <label for="capacity">O‘rinlar Soni</label>
    <input id="capacity" [(ngModel)]="newEvent.capacity" name="capacity" type="number" placeholder="Yozish..." required min="1" />

    <button type="submit">Qo‘shish</button>
  </form>

  <div>
    <h2>Mavjud Tadbirlar</h2>
    <ul>
      <li *ngFor="let event of events" [ngClass]="{ 'expired': event.isExpired }">
        <div class="event-header">
          <span class="event-details">{{ event.name }} - {{ event.date | date }} - {{ event.location }}</span>
          <span class="event-seats">({{ event.bookedSeats }} / {{ event.capacity }})</span>
        </div>
        <div class="event-actions">
          <button *ngIf="event.id && !event.isExpired" [disabled]="event.isFullyBooked" (click)="bookEvent(event.id)">
            {{ event.isFullyBooked ? 'To‘liq Band' : 'Band Qilish' }}
          </button>
          <button *ngIf="event.id && event.bookedSeats > 0 && !event.isExpired" (click)="cancelBooking(event.id)">Bekor Qilish</button>
          <button *ngIf="event.id" (click)="deleteEvent(event.id)">O‘chirish</button>
        </div>
      </li>
    </ul>
    <button class="logout-button" (click)="logout()">Chiqish</button>
  </div>
</div>

<ng-template #notLoggedIn>
  <a [routerLink]="['/login']">Kirish</a>
</ng-template>