+<h1>Event Booking App</h1>

<div *ngIf="authService.isLoggedIn(); else notLoggedIn">
  <button (click)="authService.logout()">Chiqish</button>


  <h2>Yangi Tadbir Qo‘shish</h2>
  <form (ngSubmit)="onCreateEvent()">
    <input [(ngModel)]="newEvent.name" name="name" placeholder="Tadbir Nomi" required />
    <input [(ngModel)]="newEvent.date" name="date" type="datetime-local" required />
    <input [(ngModel)]="newEvent.location" name="location" placeholder="Joylashuv" required />
    <input [(ngModel)]="newEvent.capacity" name="capacity" type="number" placeholder="O‘rinlar Soni" required min="1" />
    <button type="submit">Qo‘shish</button>
  </form>


  <div>
    <h2>Mavjud Tadbirlar</h2>
    <ul>
      <li *ngFor="let event of events">
        {{ event.name }} - {{ event.date | date }} - {{ event.location }}
        ({{ event.bookedSeats }} / {{ event.capacity }} band)
        <button *ngIf="event.id" [disabled]="event.isFullyBooked" (click)="bookEvent(event.id)">
          {{ event.isFullyBooked ? 'To‘liq Band' : 'Band Qilish' }}
        </button>
      </li>
    </ul>
  </div>
</div>

<ng-template #notLoggedIn>
  <a [routerLink]="['/login']">Kirish</a>
</ng-template>

<router-outlet></router-outlet>